.idea/

.htaccess

/node_modules/
/dist/

*.log
sitemap.xml
sitemap.xml.gz

wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/
wp-content/backups/
wp-config.php
wp-content/uploads

.DS_Store
package-lock.json