footer {
  display: flex;
  justify-content: flex-start;
  padding-top: 70px;
  padding-bottom: 80px;

  .offices {

    h4 {
      line-height: 1.0rem;
    }

    label {
      display: block;
      line-height: 1rem;
    }

    address:last-of-type {
      margin-bottom: 0;
    }

    @include respond-below(sm) {
      margin-top: 48px;
    }
  }

  .contact {
    margin-bottom: $theme-default-margin;

    .logo {
      margin-bottom: $theme-default-margin;
    }

    div {
      width: 100%;
    }
  }

  .footer__address-social-wrapper {
    @include respond-above(md) {
      @include respond-below(xl) {
        margin-right: 8.3333%;
      }
    }

    @include respond-below(lg) {
      margin-right: 0 !important;
    }
  }

  @include respond-below(md) {
    padding: 60px 70px 80px 70px;
  }

  @include respond-below(sm) {
    padding-top: 60px;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.social {
  a {
    display: block;
    position: relative;

    &.facebook {
      width: 12px;
      height: 23px;
    }

    &.instagram {
      width: 20px;
      height: 20px;

      img {
        top: 2px;
      }
    }

    &.linkedin {
      width: 23px;
      height: 23px;
    }

    &.youtube {
      width: 24px;
      height: 20px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity $theme-transition-short linear;
    }

    .social-hover {
      opacity: 0;
    }

    &:hover {
      .social-hover {
        opacity: 1;
      }

      :not(.social-hover) {
        opacity: 0;
      }
    }
  }
}

.legal {
  margin-top: 76px;

  @include respond-below(md) {
    margin-top: $theme-default-margin;
  }
}

@include respond-below(md) {
  margin-top: 48px;
}